header {
    font-size: large;
    font-weight: bold;
    color: cornsilk;
    text-align: center;
    background: rgb(100, 14, 238);
};

.main-display {
    display: flex;
    flex-direction: row;
    border: solid;
    border-color: mediumseagreen;
}

.search-form {
    display: flex;
    flex-direction: column;
    float: left;
}


.city-container {
    background: rgb(218, 219, 219);
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: row;
}

.low {
    background: green;
}

.moderate {
    background: yellow;
}

.high {
    background: orange;
}

.very-high {
    background: red;
}

.extreme {
    background: purple;
}
